:root {
  --basic-white: #ffffff;
  --basic-blue: #81b3d2;
  --basic-black: #000000;
  --basic-grey: #eeeeee;
  --basic-light-grey: #333333;
  --basic-brown: #766357;
  --basic-extra-white: #f2f2f2;
  --basic-extra-grey: #a9a9a9;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  position: relative;
}

body {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  background-color: var(--basic-white);
  text-transform: uppercase;
  background-image: url("background-index.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

.main-navigation {
  display: flex;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  width: 1200px;
}

.main-header-logo img {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  list-style: none;
  padding: 0 72px;
}

.site-navigation a {
  color: var(--basic-black);
}

.state-map {
  margin-left: 275px;
}

.site-navigation a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--basic-blue);
}

.image {
  text-align: center;
  background-image: url("../images/background-index.jpg");
  background-size: cover;
  margin-bottom: 42px;
  width: 1200px;
  padding-top: 28px;
}

.image svg {
  margin-bottom: -3px;
  pointer-events: none;
}

.image img {
  padding-top: 48px;
  padding-bottom: 25px;
}

.slogan h1 {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: var(--basic-black);
  list-style: none;
  margin-right: 60px;
  margin-left: 50px;
}

.slogan p {
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  color: var(--basic-light-grey);
  list-style: none;
  margin-bottom: 51px;
  padding-right: 64px;
  padding-top: 25px;
  margin-left: 50px;
}

.description-1 {
  display: grid;
  grid-template-columns: min-content 1fr;
  margin-bottom: 60px;
}

.description-1 h2 {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-white);
  margin-bottom: 25px;
  margin-top: 0;
}

.description-2 {
  display: grid;
  grid-template-columns: min-content 1fr;
}

.description-2 h2 {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-white);
  margin-bottom: 25px;
  margin-top: 0;
}

.advantages-2 {
  height: 256px;
  width: 800px;
  margin: -15px 0;
}

.description-text-1 {
  background-color: var(--basic-blue);
  height: 256px;
  width: 400px;
  text-align: center;
  color: var(--basic-white);
  padding-top: 54px;
  padding-right: 3px;
  box-sizing: border-box;
}

.description-text-2 {
  background-color: var(--basic-blue);
  height: 256px;
  width: 400px;
  text-align: center;
  color: var(--basic-white);
  padding-top: 54px;
  padding-right: 3px;
  box-sizing: border-box;
  margin: -15px 0;
}

.description-text-1 p {
  margin-bottom: 23px;
}

.description-text-2 p {
  margin-bottom: 23px;
  width: 350px;
  margin-left: 26px;
}

.advantages {
  margin-bottom: 81px;
}

.advantages-list {
  display: grid;
  grid-template-columns: 254px 297px 269px;
  grid-gap: 124px;
  margin: 0 70px;
  list-style: none;
  padding: 0;
}

.advantages-grey {
  display: grid;
  grid-template-columns: 254px 297px 269px;
  grid-gap: 124px;
  list-style: none;
  background-color: var(--basic-grey);
  margin-bottom: 32px;
  width: 1200px;
  height: 212px;
  margin-left: 0;
  padding: 20px 0px;
  justify-content: center;
}

.advantages-item {
  text-align: center;
  padding-top: 6px;
}

.advantages-item h2 {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  margin-bottom: 25px;
  padding-left: 10px;
}

.advantages-item p {
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-light-grey);
}

.paragraph {
  padding-left: 20px;
  padding-top: 10px;
}

.number {
  padding-left: 20px;
}

.snippet h2 {
  font-size: 30px;
  line-height: 24px;
  text-align: center;
  padding-top: 25px;
  padding-right: 10px;
}

.snippet p {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 45px;
  padding-top: 10px;
}

.button:hover,
.button:focus {
  color: var(--basic-white);
}

.button:active {
  color: var(--basic-white);
  opacity: 0.3;
}

.button {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: var(--basic-white);
  background-color: var(--basic-brown);
  margin-left: 320px;
  width: 568px;
  height: 86px;
  border: none;
}

.hotel-form {
  position: absolute;
  height: 395px;
  width: 568px;
  background: #ffffff;
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
  margin-left: 320px;
  box-sizing: border-box;
  padding-top: 52px;
}
.form-show {
  display: none;
}

.form-label {
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  width: 120px;
  padding-left: 54px;
}

.form-label-item {
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  padding: 6px 54px;
}

.form-input-1 {
  height: 38px;
  line-height: 38px;
  width: 332px;
  background: #f2f2f2;
  margin-bottom: 29px;
  border: none;
  padding-left: 10px;
  margin-left: 24px;
  font-size: 14px;
  font-weight: 700;
}

.form-input-2 {
  height: 38px;
  line-height: 38px;
  width: 332px;
  background: #f2f2f2;
  margin-bottom: 29px;
  border: none;
  padding-left: 10px;
  margin-left: 20px;
  font-size: 14px;
  font-weight: 700;
}

.icon-calendar {
  position: absolute;
  margin: 8px -32px;
}

.icon-calendar:hover path {
  fill: #81b3d2;
}

.icon-calendar:active path {
  fill: #000000;
}

.people-clearfix {
  display: flex;
}

.counter-item {
  height: 38px;
  background: var(--basic-extra-white);
  display: flex;
  margin-left: -10px;
}

.input-counter {
  width: 50px;
  padding: 0px;
  text-align: center;
  border: none;
  background: var(--basic-extra-white);
}

.icon-minus {
  padding: 0 8px;
  border: none;
}

.icon-plus {
  border: none;
  padding: 0 8px;
}

.icon-minus svg {
  padding: 3px 0;
}

.icon-plus svg {
  padding: 0 0;
}

.icon-calendar:hover rect,
.icon-calendar:hover path {
  fill: #000;
}
.icon-calendar:active rect,
.icon-calendar:active path {
  fill: #81b3d2;
}

.footer {
  width: 1200px;
  text-align: center;
}

.footer-index {
  position: absolute;
  bottom: 0;
}

.search {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  height: 58px;
  width: 458px;
  background: #81b3d2;
  border: none;
  margin-top: 54px;
  margin-left: 54px;
}

.search:focus,
.search:hover {
  background: #669ec0;
}

.search:active {
  color: #ffffff;
  opacity: 0.3;
  background: #5496bd;
}

.map iframe {
  display: block;
  border: none;
}

.contacts-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background: rgba(255, 255, 255, 0.9);
  height: 122px;
}
.contacts-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: -18px 0;
}

.visit a {
  text-decoration: none;
  color: var(--basic-black);
}

.visit p {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: -8px;
  margin-left: 72px;
  text-decoration: none;
  color: var(--basic-black);
  margin-top: 20px;
}

.author {
  display: flex;
  padding: 44px 42px;
}

.author p {
  margin: 5px 15px;
  color: var(--basic-black);
}

.socials {
  display: flex;
  margin: 0 auto;
}

.socials a {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 34px 4px;
  width: 46px;
  height: 48px;
  text-decoration: none;
  color: var(--basic-extra-grey);
  background-color: var(--basic-blue);
}

.socials a:hover,
.socials a:focus {
  color: var(--basic-black);
  background-color: #669ec0;
}

.socials img:active {
  background-color: #5496bd;
  opacity: 0.3;
}

.features {
  display: flex;
  background-image: url("../images/background-catalog.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 29px;
}

.features-list-1 {
  margin-left: 72px;
  margin-top: 26px;
  border: none;
}

.features-list-1 legend {
  font-size: 16px;
  line-height: 21px;
  color: var(--basic-white);
  margin-bottom: 24px;
  margin-left: -12px;
}

.features-list-1 label {
  display: flex;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  padding-bottom: 24px;
  position: relative;
  padding-left: 26px;
}
.features-list-2 {
  margin-left: 72px;
  margin-top: 26px;
  border: none;
}

.features-list-2 legend {
  font-size: 16px;
  line-height: 21px;
  color: var(--basic-white);
  margin-bottom: 24px;
  margin-left: 20px;
}

.features-list-2 label {
  display: flex;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  padding-bottom: 24px;
  position: relative;
  padding-left: 62px;
}

.filter-list-1::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 23px;
  height: 23px;
  background-image: url(../images/checkbox-border.svg);
  border-radius: 3px;
  margin: -4px -15px;
}
.features-input-checkbox:checked + .filter-list-1::before {
  content: "";
  position: absolute;
  width: 30px;
  top: 1px;
  background-image: url(../images/checkbox.svg);
  background-repeat: no-repeat;
}
.filter-list-2::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 23px;
  height: 23px;
  background-image: url(../images/checkbox-border.svg);
  border-radius: 3px;
  margin: -4px 20px;
}
.features-input-checkbox:checked + .filter-list-2::before {
  content: "";
  position: absolute;
  width: 30px;
  top: 1px;
  background-image: url(../images/checkbox.svg);
  background-repeat: no-repeat;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filter-item {
  padding: 0;
  border: none;
  margin-left: 330px;
  margin-top: 26px;
}

.filter-item legend {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  padding-left: 4px;
}

.price-controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 15px;
  margin-top: 16px;
  margin-left: 5px;
  width: 317px;
  font-size: 14px;
  height: 36px;
  border: 2px solid #ffffff;
  box-sizing: border-box;
}

.price-controls::before {
  content: "";
  position: absolute;
  height: 22px;
  width: 2px;
  background: var(--basic-white);
}

.min-price input {
  width: 40px;
  background: none;
  border: none;
  color: #ffffff;
}

.max-price input {
  width: 40px;
  background: none;
  border: none;
  color: #ffffff;
}
.min-price {
  padding-left: 23px;
  padding-top: 8px;
  color: #fff;
}
.max-price {
  padding-top: 8px;
  color: #fff;
}
.range {
  padding-top: 2px;
  padding-left: 3px;
}

.scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.toggle {
  width: 4px;
  height: 4px;
  border: 8px solid #ffffff;
  background-color: #a9a9a9;
  border-radius: 50%;
}
.toggle:hover {
  width: 4px;
  height: 4px;
  border: 12px solid #fff;
  background-color: #a9a9a9;
  border-radius: 50%;
}

.toggle-wrapper {
  position: relative;
}

.toggle-min {
  position: absolute;
  top: -10px;
}

.toggle-max {
  position: absolute;
  left: 255px;
  top: -10px;
}

.features-button:hover,
.features-button:focus {
  color: var(--basic-extra-white);
}

.features-button {
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  border: 2px solid var(--basic-white);
  background: none;
  width: 137px;
  height: 36px;
  margin-left: 90px;
  margin-top: 33px;
}

.features-button:hover {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.resorts {
  display: flex;
  list-style: none;
  padding-left: 72px;
  margin-top: -2px;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 30px;
}

.current {
  display: flex;
  position: relative;
  margin-left: -32px;
}

.found {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.sort {
  font-size: 12px;
  line-height: 18px;
  padding-left: 46px;
  padding-top: 5px;
  padding-right: 45px;
}

.up {
  padding-left: 474px;
  padding-top: 5px;
}

.down {
  padding-left: 12px;
  padding-top: 5px;
}

.up:hover path,
.down:hover path {
  fill: #000000;
}

.up:active path,
.down:active path {
  fill: #81b3d2;
}

.filter-resorts {
  font-size: 12px;
  line-height: 18px;
  padding: 5px 20px;
}

.filter-resorts a:active {
  color: var(--basic-black);
  opacity: 1;
  border: none;
}
.filter-resorts a:focus {
  color: var(--basic-blue);
  opacity: 1;
  border: none;
}
.filter-resorts a:hover {
  color: var(--basic-blue);
  opacity: 1;
}
.hotel {
  padding-left: 72px;
  list-style: none;
  border-bottom: 1px solid #e5e5e5;
}

.hotel-item {
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 160px 250px 400px 200px;
  grid-template-rows: 30px 30px 45px;
}

.hotel-item img {
  grid-column: 1/2;
  grid-row: 1/3;
  padding-top: 10px;
}

.hotel h2 {
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
  grid-column: 2/4;
  grid-row: 1/2;
  margin: 4px;
}

.hotel h2:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.hotel h2:hover,
.hotel h2:focus {
  color: var(--basic-blue);
}

.hotel-1 {
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-light-grey);
  grid-column: 2/4;
  grid-row: 2/3;
  margin: 8px 0px;
}

.price-1 {
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-light-grey);
  grid-column: 3/4;
  grid-row: 2/3;
  margin: 8px -128px;
}

.rait {
  height: 27px;
  width: 110px;
  color: #666666;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 4/4;
  grid-row: 3/3;
  margin: 14px 138px;
  font-size: 14px;
}

.detailed:hover,
.detailed:focus {
  color: var(--basic-white);
  background: #669ec0;
}

.detailed:active {
  color: var(--basic-white);
  opacity: 2;
  background: #5496bd;
}

.book:hover,
.book:focus {
  color: var(--basic-white);
  background: #604e43;
}

.book:active {
  color: var(--basic-white);
  opacity: 2;
  background: #766357;
}

.detailed {
  width: 110px;
  height: 29px;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  color: var(--basic-white);
  background-color: var(--basic-blue);
  margin-left: 25px;
  margin-top: 10px;
  border: none;
  grid-column: 2/3;
  grid-row: 3/4;
  margin: 15px 4px;
}

.book {
  width: 142px;
  height: 29px;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  color: var(--basic-white);
  background-color: var(--basic-brown);
  border: none;
  grid-column: 3/4;
  grid-row: 3/4;
  margin-top: 15px;
  margin-left: -130px;
}

svg:hover path {
  fill: #81b3d2;
}

svg:active path {
  fill: #a9a9a9;
}

.star-1 {
  content: "";
  background-image: url("../images/star.svg");
  background-repeat: repeat-x;
  margin-left: 570px;
  width: 75px;
}

.star-2 {
  content: "";
  background-image: url("../images/star.svg");
  background-repeat: repeat-x;
  margin-left: 588px;
  width: 55px;
}

.star-3 {
  content: "";
  background-image: url("../images/star.svg");
  background-repeat: repeat-x;
  margin-left: 606px;
  width: 35px;
}

.star-1 {
  padding-top: 10px;
}

.star-2 {
  padding-top: 10px;
}

.star-3 {
  padding-top: 10px;
}
