:root {
  --basic-white: #ffffff;
  --basic-blue: #81b3d2;
  --basic-black: #000000;
  --basic-grey: #eeeeee;
  --basic-light-grey: #333333;
  --basic-brown: #766357;
  --basic-extra-white: #f2f2f2;
  --basic-extra-grey: #a9a9a9;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

body {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  background-color: var(--basic-white);
  text-transform: uppercase;
  background-image: url("background-index.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

.main-navigation {
  display: flex;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  width: 1200px;
}

.main-header-logo img {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  list-style: none;
  padding: 0 72px;
}

.site-navigation a {
  color: var(--basic-black);
}

.site-navigation a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--basic-blue);
}

.image {
  text-align: center;
  background-image: url("../images/background-index.jpg");
  background-size: cover;
  margin-bottom: 42px;
  width: 1200px;
}

.image svg {
  margin-bottom: -3px;
  pointer-events: none;
}

.image img {
  padding-top: 48px;
  padding-bottom: 80px;
}

.slogan h1 {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: var(--basic-black);
  list-style: none;
}

.slogan p {
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  color: var(--basic-light-grey);
  list-style: none;
  margin-bottom: 51px;
}

.description-1 {
  display: grid;
  grid-template-columns: min-content 1fr;
  margin-bottom: 60px;
}

.description-1 h2 {
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: var(--basic-white);
  padding-top: 47px;
  padding-left: 139px;
  padding-right: 139px;
}

.description-2 {
  display: grid;
  grid-template-columns: min-content 1fr;
}

.description-2 h2 {
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: var(--basic-white);
  padding-top: 47px;
  padding-left: 100px;
  padding-right: 100px;
}

.advantages-2 {
  height: 256px;
  width: 800px;
}

.description-text {
  background-color: var(--basic-blue);
  height: 256px;
  width: 400px;
  margin-top: 0;
  text-align: center;
  list-style: none;
  color: var(--basic-white);
}

.description-text p {
  margin-left: 49px;
  margin-right: 49px;
  margin-bottom: 23px;
}

.advantages {
  margin-bottom: 81px;
}

.advantages-list {
  display: grid;
  grid-template-columns: 254px 297px 269px;
  grid-gap: 124px;
  margin: 0 70px;
  list-style: none;
  padding: 0;
}

.advantages-grey {
  display: grid;
  grid-template-columns: 254px 297px 269px;
  grid-gap: 124px;
  margin: 0 70px;
  list-style: none;
  background-color: var(--basic-grey);
  margin-bottom: 61px;
  width: 1200px;
  margin-left: 0;
  padding: 0;
  justify-content: center;
}

.advantages-item {
  text-align: center;
  padding-top: 47px;
  padding-bottom: 54px;
}

.advantages-item h2 {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  margin-bottom: 25px;
}

.advantages-item p {
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-light-grey);
  margin-bottom: 23px;
}

.area {
  width: 230px;
  padding-left: 15px;
}

.snippet h2 {
  font-size: 30px;
  line-height: 24px;
  text-align: center;
}

.snippet p {
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 24px;
}

.button:hover,
.button:focus {
  color: var(--basic-white);
}

.button:active {
  color: var(--basic-white);
  opacity: 0.3;
}

.button {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: var(--basic-white);
  background-color: var(--basic-brown);
  margin-left: 340px;
  width: 568px;
  height: 86px;
}

.hotel-form {
  position: absolute;
  height: 395px;
  width: 568px;
  background: #ffffff;
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
  margin-left: 340px;
}

.form-label {
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
}

.form-input {
  height: 26px;
  width: 133px;
  left: 536px;
  top: 2230px;
  border-radius: nullpx;
  background: #f2f2f2;
}

.footer {
  width: 1200px;
  text-align: center;
  padding-top: 5px;
  position: absolute;
}

.form-appointment {
  position: absolute;
  margin: 0 auto;
}
.map img {
display: block;
}

.map iframe {
 border: none;
}

.contacts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
}

.visit a {
  text-decoration: none;
  color: var(--basic-black);
}

.visit p {
  text-decoration: none;
  color: var(--basic-black);
}

.author {
  display: flex;
  padding: 30px 80px;
}

.author p {
  margin: 5px 15px;
  color: var(--basic-black);
}

.socials {
  display: flex;
  margin: 0 auto;
}

.socials a {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px 6px;
  width: 46px;
  height: 48px;
  text-decoration: none;
  color: var(--basic-extra-grey);
  background-color: var(--basic-blue);
}

.socials a:hover,
.socials a:focus {
  color: var(--basic-black);
  background-color: #669ec0;
}

.socials img:active {
  background-color: #5496bd;
  opacity: 0.3;
}

.features {
  display: flex;
  background-image: url("../images/background-catalog.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 29px;
}

.features-list {
  margin-left: 72px;
  margin-top: 26px;
  margin-bottom: 32px;
  border: none;
}

.features-list legend {
  font-size: 16px;
  line-height: 21px;
  color: var(--basic-white);
  margin-bottom: 24px;
}

.features-list label {
  display: flex;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  padding-bottom: 24px;
}



.features-input {
  height: 23px;
  width: 23px;
  color: var(--basic-white);
}

.filter-list::before  {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 23px;
  height: 23px;
  border: 2px solid #ffffff;
}

.filter-list:checked::after {
  content: "";
  position: absolute;
  width: 21px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url("images/shape.svg");
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filter-item {
  padding: 0;
  border: none;
  margin-left: 393px;
  margin-top: 17px;
}

.filter-item legend {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.price-controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
  width: 317px;
  height: 36px;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 2px;

}

.min-price input {
  width: 10px;
  background: none;
  border: none;
  color: #ffffff;
}


.max-price input {
  width: 40px;
  background: none;
  border: none;
  color: #ffffff;
}

.price-controls label {
  color: #ffffff;
}

.range-filter {
  width: 316px;
  margin-top: 20px;
  margin-bottom: 33px;
}

.scale {
  width: 316px;
  height: 2px;
  background: #ffffff;
  opacity: 0.3;
}

.bar {
  height: 2px;
  width: 70%;
  background: #ffffff;
}

.toggle {
  position: absolute;
  top: 161px;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #a9a9a9;
  border-radius: 50%;
}

.toggle-min {
  left: 931px;
}

.toggle-max {
  left: 1153px;
}

.features-button:hover,
.features-button:focus {
  color: var(--basic-extra-white);
}

.features-button {
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  border: 2px solid var(--basic-white);
  background: none;
  width: 137px;
  height: 36px;
  margin-left: 90px;
}

.features-button:hover {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.resorts {
  display: flex;
  list-style: none;
  margin-left: 73px;
  margin-bottom: 31px;
}

.current {
  display: flex;
  position: relative;
}

.found {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.sort {
  font-size: 12px;
  line-height: 18px;
  padding-left: 46px;
  padding-top: 5px;
  padding-right: 40px;
}

.current svg {
  margin-left: 20px;
}

.filter-resorts {
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-black);
  border-bottom: 1px dashed var(--basic-blue);
  opacity: 0.3;
  padding: 5px 32px;
}

.filter-resorts :active {
  color: var(--basic-blue);
  opacity: 0.3;
}

.filter-resorts :hover,
.filter-resorts :focus {
  color: var(--basic-black);
}

.hotel {
  margin-left: 73px;
  list-style: none;
}

.hotel-item {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px;
  margin-bottom: 61px;
}

.hotel-item a {

}

.hotel h2 {
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

.hotel h2:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.hotel h2:hover,
.hotel h2:focus {
  color: var(--basic-blue);
}

.hotel span {
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-light-grey);

}

.detailed:hover,
.detailed:focus {
  color: var(--basic-light-grey);
}

.detailed:active {
  color: var(--basic-white);
  opacity: 0.3;
}

.book:hover,
.book:focus {
  color: var(--basic-light-grey);
}

.book:active {
  color: var(--basic-white);
  opacity: 0.3;
}

.detailed {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  color: var(--basic-white);
  background-color: var(--basic-blue);

}

.book {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  color: var(--basic-white);
  background-color: var(--basic-brown);

}

.rait {
  font-size: 14px;
  line-height: 21px;
  color: #666666;
  color: #666666;
  background-color: #f2f2f2;
  height: 21px;
  width: 83px;
  margin-left: 70px;
}

svg:hover path {
  fill: #81b3d2;
}

svg:active path {
  fill: #a9a9a9;
}
