:root {
  --basic-white: #ffffff;
  --basic-blue: #81b3d2;
  --basic-black: #000000;
  --basic-grey: #eeeeee;
  --basic-light-grey: #333333;
  --basic-brown: #766357;
  --basic-extra-white: #f2f2f2;
  --basic-extra-grey: #a9a9a9;
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  background-color: var(--basic-white);
  text-transform: uppercase;
  background-image: url("background-index.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

.main-navigation {
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: var(--basic-black);
}

.site-navigation a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--basic-blue);
}

.image {
  text-align: center;
  background-image: url("../images/background-index.jpg");
  background-size: cover;
}

.slogan h1 {
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: center;
  color: var(--basic-black);
  list-style: none;
}

.slogan p {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: center;
  color: var(--basic-light-grey);
  list-style: none;
}

.description h2 {
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: center;
  color: var(--basic-white);
}

.description-text {
  background-color: var(--basic-blue);
  height: 256px;
  width: 400px;
  left: 40px;
  top: 780px;
  border-radius: 0%;
  text-align: center;
  list-style: none;
  color: var(--basic-white);
}

.advantages-item h2 {
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0px;
  list-style: none;
  color: var(--basic-black);
  margin: 0;
}

.advantages-item p {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0px;
  list-style: none;
  color: var(--basic-light-grey);
  margin: 0;
}

.advantages-1 {
  list-style: none;
  text-align: center;
}

.advantages-grey {
  list-style: none;
  text-align: center;
  background-color: var(--basic-extra-grey);
  margin: 0;
}

.snippet h2 {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
}

.snippet p {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
}

.button:hover,
.button:focus {
  color: var(--basic-white);
}

.button:active {
  color: var(--basic-white);
  opacity: 0.3;
}

.button {
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--basic-brown);
  margin-left: 30%;
  width: 568px;
  height: 86px;
}

.footer {
  text-align: center;
}

.map {
  height: 594px;
  width: 1199px;
  left: 41px;
  top: 2169px;
}

.visit a {
  text-decoration: none;
  color: var(--basic-black);
}

.visit p {
  text-decoration: none;
  color: var(--basic-black);
}

.author p {
  color: var(--basic-black);
}

.socials a {
  text-decoration: none;
  color: var(--basic-black);
  background-color: var(--basic-blue);
  padding: 17px;
}

.socials a:hover,
.socials a:focus {
  color: var(--basic-light-grey);
}

.socials a:active {
  color: var(--basic-white);
  opacity: 0.3;
}

.features {
  background-image: url("../images/background-catalog.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.features-list legend {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--basic-white);
}

.features-list label {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--basic-white);
}

.features-input {
  height: 23px;
  width: 23px;
  left: 0px;
  top: 0px;
  color: var(--basic-white);
}

.features-button:hover,
.features-button:focus {
  color: var(--basic-extra-white);
}

.features-button {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--basic-white);
  border: 2px solid var(--basic-white);
  background: none;
}

.resorts {
  list-style: none;
}

.found {
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
}

.sort {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
}

.filter-resorts {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--basic-black);
  border-bottom: 1px dashed var(--basic-blue);
  opacity: 0.3;
}

.filter-resorts :active {
  color: var(--basic-blue);
  opacity: 0.3;
}

.filter-resorts :hover,
.filter-resorts :focus {
  color: var(--basic-black);
}

.hotel {
  list-style: none;
}

.hotel h2 {
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--basic-black);
}

.hotel h2:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.hotel h2:hover,
.hotel h2:focus {
  color: var(--basic-blue);
}

.hotel span {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--basic-light-grey);
}

.detailed:hover,
.detailed:focus {
  color: var(--basic-light-grey);
}

.detailed:active {
  color: var(--basic-white);
  opacity: 0.3;
}

.book:hover,
.book:focus {
  color: var(--basic-light-grey);
}

.book:active {
  color: var(--basic-white);
  opacity: 0.3;
}

.detailed {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.book {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--basic-white);
  background-color: var(--basic-brown);
}

.rait {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: center;
  color: #666666;
  background-color: var(--basic-extra-white);
}

.author img:hover,
.author img:focus {
  color: var(--basic-blue);
}

.author img:active {
  color: var(--basic-black);
  opacity: 0.3;
}
